/*
    color-primario: #1ea025;
    color-secundario: rgb(62, 187, 209);
    color-terciario: yellow;
    color-cuarto: blue;
*/

.claseNav {
    color: #1ea025;
    background-color: rgb(62, 187, 209);
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-color: blue;
    border-style: dotted;
    background-image: url("img/Yasuo_0.jpg");
    background-position: right;
    background-repeat: no-repeat;
    background-size: 250px 180px;
    display: flex;
    
    
    
} 

.lista {
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    list-style-type: none;
}

.fondo {
    background-image: url("img/Yasuo_1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 1000px;
}

.pie {
    
        left: 18%;
        color: blueviolet;
        text-align: center;
        align-items: center;
        display: flex;
    
}