.estiloForm {
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
    color: aliceblue;
    text-align: center;
    margin: auto;
    width: 400px;
    background-color: rgb(62, 62, 62);
    padding: 60px;
    border-radius: 10px;
    font-size: 20px;
    position: relative;
    top: 80px;
}

.titulo {
    font-family: 'Courier New', Courier, monospace;         
    font-size: xx-large;
    text-align: center;
    padding-top: 55px;
    text-decoration: underline;
    color: white;
}

.boton {
    border-color: rgb(44, 31, 31);
    border-radius: 150px;
    
    
}

body {
    background-color: rgb(9, 9, 82);
}